.hero {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 0px;
  height: calc(100vh - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 80px 40px;
}

.hero .background {
  position: absolute;
  top: -80px;
  left: -80px;
  z-index: -1;
  width: calc(100vw + 160px);
  height: calc(100vh + 90px);
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.section1 {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 160px 40px 160px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

.section1 .swipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 .swipe .inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.section1 h1, .section1 h2, .section1 h3 {
  color: #F7F6F0 !important;
  text-align: center;
}

.section1 .swipe-small {
  height: 4vw;
  overflow-y: hidden;
}

.section1 .swipe-small h3 {
  font-size: 2.5vw !important;
  height: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section1 .swipe-small .inside {
  -webkit-animation: swipe-small 14s cubic-bezier(0.76, 0.02, 0.29, 0.99) infinite;
          animation: swipe-small 14s cubic-bezier(0.76, 0.02, 0.29, 0.99) infinite;
}

.section1 .swipe-big {
  height: 8vw;
  overflow-y: hidden;
}

.section1 .swipe-big h1 {
  font-size: 6vw !important;
  height: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 .swipe-big .inside {
  -webkit-animation: swipe-big 14s cubic-bezier(0.76, 0.02, 0.29, 0.99) infinite;
          animation: swipe-big 14s cubic-bezier(0.76, 0.02, 0.29, 0.99) infinite;
}

@-webkit-keyframes swipe-small {
  0% {
    top: 0;
    opacity: 1;
  }
  17% {
    top: 0;
    opacity: 1;
  }
  33% {
    top: -4vw;
    opacity: 1;
  }
  50% {
    top: -4vw;
    opacity: 1;
  }
  67% {
    top: -8vw;
    opacity: 1;
  }
  83% {
    top: -8vw;
    opacity: 1;
  }
  89% {
    top: -8vw;
    opacity: 0;
  }
  94% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes swipe-small {
  0% {
    top: 0;
    opacity: 1;
  }
  17% {
    top: 0;
    opacity: 1;
  }
  33% {
    top: -4vw;
    opacity: 1;
  }
  50% {
    top: -4vw;
    opacity: 1;
  }
  67% {
    top: -8vw;
    opacity: 1;
  }
  83% {
    top: -8vw;
    opacity: 1;
  }
  89% {
    top: -8vw;
    opacity: 0;
  }
  94% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes swipe-big {
  0% {
    top: 0;
    opacity: 1;
  }
  17% {
    top: -8vw;
    opacity: 1;
  }
  33% {
    top: -16vw;
    opacity: 1;
  }
  50% {
    top: -24vw;
    opacity: 1;
  }
  67% {
    top: -32vw;
    opacity: 1;
  }
  83% {
    top: -40vw;
    opacity: 1;
  }
  89% {
    top: -40vw;
    opacity: 0;
  }
  94% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes swipe-big {
  0% {
    top: 0;
    opacity: 1;
  }
  17% {
    top: -8vw;
    opacity: 1;
  }
  33% {
    top: -16vw;
    opacity: 1;
  }
  50% {
    top: -24vw;
    opacity: 1;
  }
  67% {
    top: -32vw;
    opacity: 1;
  }
  83% {
    top: -40vw;
    opacity: 1;
  }
  89% {
    top: -40vw;
    opacity: 0;
  }
  94% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.section1 img {
  width: 100%;
  -webkit-filter: saturate(0);
          filter: saturate(0);
}

.section1 .background {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: #1F4D8F;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 .background p {
  color: #F7F6F0 !important;
  font-size: 18vw;
  opacity: 0.075;
  font-weight: bold;
}

.section2 {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 160px 40px 160px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  background: #F4F2EC;
}

.section2 h2 {
  text-align: center;
  max-width: 1200px;
}

@media screen and (max-width: 1140px) {
  .hero {
    line-height: 1.1;
  }
  .hero .text {
    padding: 60px 20px;
  }
  .section1 {
    padding: 60px 20px 80px 20px;
  }
}
