* {
  font-family: "Good Sans";
  margin: 0;
  padding: 0;
  color: #000;
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  font-weight: 400;
}

* a {
  text-decoration: none;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  overflow: hidden;
  font-size: 16px;
}

body {
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

p, a {
  font-size: 1em;
}

h4 {
  font-size: 1.5em;
}

h3 {
  font-size: 2em;
}

h2 {
  font-size: 4em;
}

h1 {
  font-size: 5em;
}

.button {
  border: 2px solid #000;
  color: #000;
  border-radius: 100%;
  padding: 25px 50px;
  -webkit-transition: .6s;
  transition: .6s;
}

.button p {
  -webkit-transition: .6s;
  transition: .6s;
}

.button:hover {
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
}

.button:hover p {
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  height: 100%;
  width: 100%;
  z-index: 20;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.loader p {
  color: white;
  font-size: 3.5em;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  opacity: 0;
}

.loader .c {
  -webkit-transition-delay: .075s;
          transition-delay: .075s;
}

.loader .u {
  -webkit-transition-delay: .15s;
          transition-delay: .15s;
}

.loader .r {
  -webkit-transition-delay: .225s;
          transition-delay: .225s;
}

.loader .a {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.cover {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  top: 0;
  left: 0;
  z-index: 19;
  -webkit-transition-duration: 0;
          transition-duration: 0;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  pointer-events: none;
}

.menu-bg-desktop {
  position: fixed;
  top: -80px;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 80px;
  background-color: #fff;
  -webkit-transition: top .3s;
  transition: top .3s;
}

.menu-bg-mobile {
  position: fixed;
  top: -60px;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 60px;
  background-color: #fff;
  -webkit-transition: top .3s;
  transition: top .3s;
  opacity: 0;
}

.nav-desktop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  background-color: white;
  border-bottom: 1px solid #000;
  font-size: 1.5em;
}

.nav-desktop .logo-container {
  position: absolute;
  left: 0;
  margin-left: 40px;
}

.nav-desktop .logo-container .logo {
  font-size: 2em;
  color: #000;
  font-weight: 500;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.nav-desktop .logo-container .logo:hover {
  color: #000;
}

.nav-desktop .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  height: 80px;
  padding-right: 40px;
  border-right: 1px solid #000;
  left: calc(50% - 336.84px / 2);
}

.nav-desktop .menu-container a {
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  padding: 4px 0 2px 0;
  text-align: center;
}

.nav-desktop .menu-container a:hover {
  color: #000;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.nav-desktop .menu-container .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-desktop .menu-container .menu-item .link {
  pointer-events: all;
}

.nav-desktop .menu-container .menu-item .submenu {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  margin-top: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-desktop .menu-container .menu-item .submenu .triangle {
  height: 16px;
  width: 16px;
  background: #fff;
  -webkit-box-shadow: 0 5px 14px -4px rgba(13, 23, 75, 0.5);
          box-shadow: 0 5px 14px -4px rgba(13, 23, 75, 0.5);
  margin-top: 1em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: -10px;
}

.nav-desktop .menu-container .menu-item .submenu .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  background: #fff;
  padding: 1em;
  border-radius: .6em;
  z-index: 11;
  -webkit-box-shadow: 0 5px 14px -4px rgba(13, 23, 75, 0.5);
          box-shadow: 0 5px 14px -4px rgba(13, 23, 75, 0.5);
}

.nav-desktop .menu-container .menu-item .submenu .inner a {
  all: unset;
  text-align: center;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  padding: 8px;
  border-radius: .3em;
  width: 140px;
  font-size: 0.75em;
}

.nav-desktop .menu-container .menu-item .submenu .inner a:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}

.nav-desktop .menu-container .menu-item .link {
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  padding: 4px 0 2px 0;
  text-align: center;
}

.nav-desktop .menu-container .menu-item .link:hover {
  color: #000;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.nav-desktop .menu-container .menu-item .link:hover, .nav-desktop .menu-container .menu-item .link:link, .nav-desktop .menu-container .menu-item .link:active, .nav-desktop .menu-container .menu-item .link:visited {
  cursor: default;
}

.nav-desktop .menu-container .menu-item .link:hover ~ .submenu, .nav-desktop .menu-container .menu-item .submenu:hover {
  opacity: 1;
  pointer-events: all;
}

.nav-desktop .menu-container .menu-item .submenu:hover ~ p {
  color: #000;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.nav-desktop .account-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-right: 40px;
  padding-left: 40px;
}

.nav-desktop .account-container a {
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  padding: 4px 0 2px 0;
}

.nav-desktop .account-container a:hover {
  color: #000;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.nav-mobile {
  display: none;
}

.nav-mobile input {
  position: fixed;
  top: -100px;
}

.nav-mobile label {
  position: fixed;
  top: 10px;
  right: 15px;
  padding: 5px;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 12;
  -webkit-transition: top .3s;
  transition: top .3s;
}

.nav-mobile label .line {
  position: absolute;
  height: 2px;
  width: 30px;
  background-color: #000;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
}

.nav-mobile label .top {
  margin-bottom: 12px;
}

.nav-mobile label .bot {
  margin-top: 12px;
}

.nav-mobile label:hover {
  cursor: pointer;
}

.nav-mobile .nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  -webkit-transition: height .3s;
  transition: height .3s;
  background-color: #fff;
  border-bottom: 1px solid #000;
}

.nav-mobile .nav-bar .logo {
  font-size: 2em;
  color: #000;
}

.nav-mobile .nav-links {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100vw;
  height: 100vh;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 20px;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  pointer-events: none;
  overflow-y: scroll;
}

.nav-mobile .nav-links .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: auto;
}

.nav-mobile .nav-links .inner * {
  font-size: 1.5em;
  line-height: 1.1;
  margin-bottom: .25em;
}

.nav-mobile .nav-links .inner a {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 2px;
  padding-top: 4px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
}

.nav-mobile .nav-links .inner .b {
  color: #000;
  margin-top: 1em;
  margin-bottom: .5em;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
}

.nav-mobile .nav-links .inner .i {
  margin-left: 1em;
}

.nav-mobile .nav-links .inner .sign-in {
  margin-top: 1em;
}

.nav-mobile .nav-links .inner .get-started {
  color: #000;
}

.nav-mobile #menu-checkbox:checked ~ .nav-links {
  opacity: 1;
  pointer-events: all;
}

.nav-mobile #menu-checkbox:checked ~ .nav-links .inner *:nth-child(1) {
  -webkit-transition-delay: .025s;
          transition-delay: .025s;
}

.nav-mobile #menu-checkbox:checked ~ .nav-links .inner *:nth-child(2) {
  -webkit-transition-delay: .05s;
          transition-delay: .05s;
}

.nav-mobile #menu-checkbox:checked ~ .nav-links .inner *:nth-child(3) {
  -webkit-transition-delay: .075s;
          transition-delay: .075s;
}

.nav-mobile #menu-checkbox:checked ~ .nav-links .inner *:nth-child(4) {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.nav-mobile #menu-checkbox:checked ~ .nav-links .inner *:nth-child(5) {
  -webkit-transition-delay: .125s;
          transition-delay: .125s;
}

.nav-mobile #menu-checkbox:checked ~ .nav-links .inner *:nth-child(6) {
  -webkit-transition-delay: .15s;
          transition-delay: .15s;
}

.nav-mobile #menu-checkbox:checked ~ .nav-links .inner *:nth-child(7) {
  -webkit-transition-delay: .175s;
          transition-delay: .175s;
}

.nav-mobile #menu-checkbox:checked ~ .nav-links .inner *:nth-child(8) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.nav-mobile #menu-checkbox:checked ~ .nav-links .inner *:nth-child(9) {
  -webkit-transition-delay: .225s;
          transition-delay: .225s;
}

.nav-mobile #menu-checkbox:checked ~ .nav-links .inner *:nth-child(10) {
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

.nav-mobile #menu-checkbox:checked ~ .nav-links .inner *:nth-child(11) {
  -webkit-transition-delay: .275s;
          transition-delay: .275s;
}

.nav-mobile #menu-checkbox:checked ~ .nav-links .inner *:nth-child(12) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.nav-mobile #menu-checkbox:checked ~ .nav-links .inner *:nth-child(13) {
  -webkit-transition-delay: .325s;
          transition-delay: .325s;
}

.nav-mobile #menu-checkbox:checked ~ .nav-links .inner a, .nav-mobile #menu-checkbox:checked ~ .nav-links p {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.nav-mobile #menu-checkbox:checked ~ .menu-button .line {
  margin: 0;
}

.nav-mobile #menu-checkbox:checked ~ .menu-button .top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-mobile #menu-checkbox:checked ~ .menu-button .mid {
  width: 0;
}

.nav-mobile #menu-checkbox:checked ~ .menu-button .bot {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 16px;
  z-index: 30;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
}

#scrollbar #thumb {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 8px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
  padding: 4px;
}

#scrollbar #thumb #inside {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  background-color: rgba(0, 0, 0, 0.4);
}

#scrollbar #thumb:hover {
  cursor: pointer;
}

#scrollbar:hover #thumb {
  margin-left: 0 !important;
}

#scrollbar-focus {
  background-color: #000;
}

.home, .about, .content, .content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content {
  overflow-x: hidden;
  overflow-y: scroll;
}

.hero {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 80px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
}

.hero .text .black {
  background-image: url("../img/unsplash.jpg");
  background-size: cover;
  background-position: center center;
  -webkit-filter: saturate(0);
          filter: saturate(0);
}

.hero .text .half {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero .text .half * {
  text-align: left;
}

.hero .text .half h2 {
  max-width: 1100px;
}

.hero .text .half h2 b {
  color: #000;
}

.hero .text .half h4 {
  max-width: 600px;
}

.section {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 80px 40px 160px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.section img {
  width: 100%;
  -webkit-filter: saturate(0);
          filter: saturate(0);
}

.bg {
  position: fixed;
  top: -75px;
  left: -75px;
  width: calc(100% + 150px);
  height: calc(100% + 150px);
  z-index: -1;
  -webkit-filter: blur(1vw) opacity(0.3) hue-rotate(-20deg);
          filter: blur(1vw) opacity(0.3) hue-rotate(-20deg);
}

@media screen and (max-width: 1140px) {
  h4 {
    font-size: 1.25em;
  }
  h3 {
    font-size: 2em;
  }
  h2 {
    font-size: 4em;
  }
  h1 {
    font-size: 4em;
  }
  .menu-bg-desktop {
    opacity: 0;
  }
  .menu-bg-mobile {
    position: fixed;
    top: -60px;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 60px;
    background-color: #fff;
    -webkit-transition: top .3s;
    transition: top .3s;
    opacity: 1;
  }
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero {
    line-height: 1.1;
  }
  .hero .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hero .text .half {
    width: 100%;
    height: auto;
    padding: 20px 20px 60px 20px;
  }
  .hero .text .black {
    height: 300px;
  }
  .section {
    padding: 60px 20px 80px 20px;
    gap: 20px;
  }
}

@media screen and (max-width: 500px) {
  h4 {
    font-size: 1.25em;
  }
  h3 {
    font-size: 6vw;
  }
  h2 {
    font-size: 12vw;
  }
  h1 {
    font-size: 12vw;
  }
}
