<div class="loader">
    <p class="loader-logo-letter e">E</p>
    <p class="loader-logo-letter c">C</p>
    <p class="loader-logo-letter u">u</p>
    <p class="loader-logo-letter r">r</p>
    <p class="loader-logo-letter a">a</p>
</div>

<div class="menu-bg-desktop"></div>
<div class="menu-bg-mobile"></div>
<div class="nav-desktop">
    <div class="logo-container">
        <a href="/" class="logo">ECura</a>
    </div>
    <div class="menu-container">
        <div class="menu-item">
            <p class="link">Product</p>
            <div class="submenu">
                <div class="triangle"></div>
                <div class="inner">
                    <a href="/">Telehealth</a>
                    <a href="/">Web Presence</a>
                    <a href="/">Task Management</a>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <p class="link">Company</p>
            <div class="submenu">
                <div class="triangle"></div>
                <div class="inner">
                    <a href="/">About</a>
                    <a href="/">Jobs</a>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <p class="link">Contact</p>
            <div class="submenu">
                <div class="triangle"></div>
                <div class="inner">
                    <a href="/">Support</a>
                    <a href="/">Business</a>
                </div>
            </div>
        </div>
    </div>
    <div class="account-container">
        <a href="/" class="sign-in">Sign in</a>
        <a href="/" class="get-started button">Get started</a>
    </div>
</div>

<div class="nav-mobile">
    <input type="checkbox" id="menu-checkbox">
    <label for="menu-checkbox" class="menu-button">
        <div class="line top"></div>
        <div class="line mid"></div>
        <div class="line bot"></div>
    </label>
    <div class="nav-bar">
        <a href="/" class="logo">ECura</a>
    </div>
    <div class="nav-links">
        <div class="inner">
            <a href="/" class="h">Home</a>
            <p class="b">Product</p>
            <a href="/" class="i">Telehealth</a>
            <a href="/" class="i">Web Presence</a>
            <a href="/" class="i">Task Management</a>
            <p class="b">Company</p>
            <a href="/" class="i">About</a>
            <a href="/" class="i">Jobs</a>
            <p class="b">Contact</p>
            <a href="/" class="i">Support</a>
            <a href="/" class="i">Business</a>
            <a href="/" class="sign-in">Sign in</a>
            <a href="/" class="get-started">Get started</a>
        </div>
    </div>
</div>