<div class="loader">
    <p class="loader-logo-letter e">E</p>
    <p class="loader-logo-letter c">C</p>
    <p class="loader-logo-letter u">u</p>
    <p class="loader-logo-letter r">r</p>
    <p class="loader-logo-letter a">a</p>
</div>

<div class="menu-bg-desktop"></div>
<div class="menu-bg-mobile"></div>
<div class="nav-desktop">
    <div class="logo-container">
        <a href="/" class="logo">ECura</a>
    </div>
    <div class="menu-container">
        <a href="/">How It Works</a>
        <a href="about.html">About Us</a>
        <a href="contact.html">Contact</a>
    </div>
    <div class="account-container">
        <a href="/" class="sign-in">Sign In</a>
        <a href="/" class="get-started button">Get Started</a>
    </div>
</div>

<div class="nav-mobile">
    <input type="checkbox" id="menu-checkbox">
    <label for="menu-checkbox" class="menu-button">
        <div class="line top"></div>
        <div class="line mid"></div>
        <div class="line bot"></div>
    </label>
    <div class="nav-bar">
        <a href="/" class="logo">ECura</a>
    </div>
    <div class="nav-links">
        <a href="/" class="home">Home</a>
        <a href="/">How It Works</a>
        <a href="about.html">About Us</a>
        <a href="contact.html">Contact</a>
        <a href="/" class="sign-in">Sign In</a>
        <a href="/" class="get-started">Get Started</a>
    </div>
</div>